
<form action="" method="POST">
<h1> Add User </h1> 
<p>RegNo :<input type="text" name="regno" value=<%=User.regno%>></p>
<p>Name :<input type="text" name="name" value=<%=User.displayName%>></p>
<p>Email :<input type="text" name="email" value=<%=User.email%>></p>
<p>Approved :<%=(User.approved? 'Yes' : 'No')%></p>
<p>Banned :<%=(User.banned? 'Yes': 'No')%></p>
<p>Admin  :<%=(User.admin? 'Yes' : 'No')%></p>
<p>Picture :<input type="text" name="image" value=<%=User.image%>></p>
<p>Created On :<%=User.created%></p>
<p>Updated At :<%=User.updated%></p>

<input type="hidden" name="_method" value="PUT">
<p><input type="submit" value="Update" /></p>
</form>  